In [1]:
import pandas as pd
import matplotlib as mpl
import seaborn as sns

In [4]:
spread_data = pd.read_csv('/Users/mattammirati/Desktop/jupyter/spreadspoke_scores.csv')

In [5]:
spread_data.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
0,9/2/1966,1966,1,False,Miami Dolphins,14,23,Oakland Raiders,NaN,NaN,NaN,Orange Bowl,False,83.0,6.0,71.0,NaN
1,9/3/1966,1966,1,False,Houston Oilers,45,7,Denver Broncos,NaN,NaN,NaN,Rice Stadium,False,81.0,7.0,70.0,NaN
2,9/4/1966,1966,1,False,San Diego Chargers,27,7,Buffalo Bills,NaN,NaN,NaN,Balboa Stadium,False,70.0,7.0,82.0,NaN
3,9/9/1966,1966,2,False,Miami Dolphins,14,19,New York Jets,NaN,NaN,NaN,Orange Bowl,False,82.0,11.0,78.0,NaN
4,9/10/1966,1966,1,False,Green Bay Packers,24,3,Baltimore Colts,NaN,NaN,NaN,Lambeau Field,False,64.0,8.0,62.0,NaN

In [6]:
spread_data.describe()

,schedule_season,score_home,score_away,spread_favorite,weather_temperature,weather_wind_mph,weather_humidity
count,13801.000000,13801.000000,13801.000000,11322.000000,12423.000000,12407.000000,8476.000000
mean,1996.638794,22.479965,19.797768,-5.372946,58.932222,7.624647,67.212246
std,16.428890,10.523516,10.152570,3.438739,15.535721,5.713715,15.795938
min,1966.000000,0.000000,0.000000,-26.500000,-6.000000,0.000000,4.000000
25%,1983.000000,15.000000,13.000000,-7.000000,48.000000,2.000000,57.000000
50%,1998.000000,22.000000,20.000000,-4.500000,62.000000,8.000000,69.000000
75%,2011.000000,29.000000,27.000000,-3.000000,72.000000,11.000000,79.000000
max,2023.000000,72.000000,62.000000,0.000000,97.000000,40.000000,100.000000

In [9]:
print(f"columns and rows: ", spread_data.shape)

columns and rows:  (13801, 17)

In [10]:
#check null values
spread_data.isna().sum()

schedule_date              0
schedule_season            0
schedule_week              0
schedule_playoff           0
team_home                  0
score_home                 0
score_away                 0
team_away                  0
team_favorite_id        2479
spread_favorite         2479
over_under_line         2489
stadium                    0
stadium_neutral            0
weather_temperature     1378
weather_wind_mph        1394
weather_humidity        5325
weather_detail         10776
dtype: int64

In [11]:
spread_data.nunique()

schedule_date          2600
schedule_season          58
schedule_week            22
schedule_playoff          2
team_home                44
score_home               63
score_away               58
team_away                44
team_favorite_id         34
spread_favorite          47
over_under_line          69
stadium                 119
stadium_neutral           2
weather_temperature     101
weather_wind_mph         34
weather_humidity         95
weather_detail            8
dtype: int64

In [13]:
#going to remove rows with missing data in certain columns

spread_data.dropna(subset=['team_favorite_id', 'spread_favorite', 'over_under_line', 'weather_temperature', 'weather_wind_mph', 'weather_humidity', 'weather_detail'], inplace=True)

In [15]:
#check nulls in no null spread
spread_data.isna().sum()

schedule_date          0
schedule_season        0
schedule_week          0
schedule_playoff       0
team_home              0
score_home             0
score_away             0
team_away              0
team_favorite_id       0
spread_favorite        0
over_under_line        0
stadium                0
stadium_neutral        0
weather_temperature    0
weather_wind_mph       0
weather_humidity       0
weather_detail         0
dtype: int64

In order to handle the data listed here that had empty rows, I just removed them. We have enough data without null values to make this work.

In [16]:
print(spread_data['schedule_week'].head(20))

538      Superbowl
727      Superbowl
2500     Superbowl
9774             3
9780             3
9781             3
9783             3
9797             4
9822             6
9845             8
9927            13
9935            14
9944            14
9945            14
9970            16
9982            17
10014            1
10023            1
10041            3
10042            3
Name: schedule_week, dtype: object

In [19]:
print(spread_data['score_away'].head(25))

538      16
727       7
2500     35
9774      3
9780     10
9781     17
9783     14
9797     21
9822      0
9845      7
9927     21
9935      3
9944     45
9945     34
9970     10
9982      7
10014    18
10023    10
10041    17
10042    20
10057    38
10103    24
10105    23
10134    20
10148    39
Name: score_away, dtype: int64
538       7
727      23
2500     31
9774     34
9780     26
9781     24
9783     34
9797     27
9822     59
9845     30
9927     22
9935     48
9944     38
9945     13
9970     48
9982     30
10014    31
10023     9
10041    24
10042     7
10057    14
10103    28
10105    22
10134    23
10148    26
Name: score_home, dtype: int64

In [20]:
print(spread_data['score_home'].head(25))

538       7
727      23
2500     31
9774     34
9780     26
9781     24
9783     34
9797     27
9822     59
9845     30
9927     22
9935     48
9944     38
9945     13
9970     48
9982     30
10014    31
10023     9
10041    24
10042     7
10057    14
10103    28
10105    22
10134    23
10148    26
Name: score_home, dtype: int64

In [21]:
#compare the scores

home_win = (spread_data['score_home'] > spread_data['score_away']).sum()
away_win = (spread_data['score_home'] < spread_data['score_away']).sum()

print(f'Home team won {home_win} times')
print(f'Away team won {away_win} times')

Home team won 61 times
Away team won 45 times